<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='frontend.css') }}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0cac4ba7b.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
      </style> 
    <title>QA Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body>

    <div class="loader"></div>

    <header>
        <img src="{{ url_for('static', filename='Images/FDF9C8FA-4F97-4851-BE83-DD8A3A0A629E 2.PNG') }}" alt="QA logo" title="logo">
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('product_listing') }}">Shop</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>  
                <li><a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>    
            </ul>
        </div>
    </header>


    <div class="product">
        <img src="{{ url_for('static', filename='Images/pexels-mikhail-nilov-6957903.jpg') }}" class="card-img-top" alt="Blanket and Throw Pillow">
        <div class="product-info">
            <div class="card-description">
            <h4>'A Little Cosy' Set</h4>
                <p>Blanket & Throw Pillow</p>
            </div>
            <div class="price">
                <h6>£99</h6>
            </div>
        </div>
    </div>


    <div class="product-description">
        <p> Introducing A Little Cosy™ Luxury Blanket: Wrap yourself in unparalleled comfort and warmth with our exquisitely<br>
            crafted blanket. Made from the finest materials, this blanket is designed to provide both a touch of elegance and <br>
            the ultimate snuggle companion. <br>
            Whether draped over your couch for a stylish accent or used as a cocoon of coziness during chilly evenings,<br>
            A Little Cosy™ Luxury Blanket promises an experience of indulgent softness. <br>
            Elevate your relaxation game with a blanket that embodies both luxury and practicality. Experience comfort like never before – this <br>
            is more than just a blanket; it's your ticket to pure relaxation and contentment. </p>
    </div>


    <footer>
        <div class="footer-main">
            <div class="footer-row">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <a href="{{ url_for('about') }}">About Us</a><br><br>
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </div>
    </footer>

    <!--LOADER SCRIPT-->

    <script>
        window.addEventListener("load", () => {
            document.querySelector(".loader").classList.add("loader--hidden");
        });
    </script>
</body>