<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='frontend.css') }}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0cac4ba7b.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
      </style> 
    <title>QA Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body>

    <div class="loader"></div>

    <header>
        <img src="/Images/FDF9C8FA-4F97-4851-BE83-DD8A3A0A629E 2.PNG" alt="QA logo" title="logo">
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('productlisting') }}">Shop</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>  
                <li><a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>    
            </ul>
        </div>
    </header>


    <div class="product">
        <img src="/Images/pexels-max-rahubovskiy-6434608.jpg" class="card-img-top" alt="Wall Art">
        <div class="product-info">
            <div class="card-description">
            <h4>Mama Africa Wall Art</h4>
                <p>30 x 60</p>
            </div>
            <div class="price">
                <h6>£250</h6>
            </div>
        </div>
    </div>

    
    <div class="product-description">
        <p> Immerse your space in the grace and strength of our Mama Africa Wall Art. Celebrating the beauty and <br>
            resilience of African heritage, this captivating piece captures the essence of cultural richness and empowerment. <br>
            With bold, vibrant colors and intricate details, the artwork pays homage to the strength, wisdom, and elegance of African women. <br>
            Whether you're looking to infuse your home with cultural significance or simply seeking a stunning focal point, this Wall Art is a <br>
            tribute to diversity and a symbol of empowerment. Elevate your decor with a touch of heritage and artistry that resonates beyond borders. </p>
    </div>

    <footer>
        <div class="footer-main">
            <div class="footer-row">
                <a href="frontend.html" class="footer-link">Back to Home Page</a>
            </div>
            <a href="about.html" class="footer-link">About Us</a><br><br>
            <a href="contact.html" class="footer-link">Contact Us</a>
        </div>
    </footer>

    <!--LOADER SCRIPT-->

    <script>
        window.addEventListener("load", () => {
            document.querySelector(".loader").classList.add("loader--hidden");
        });
    </script>
</body>