<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link href="/frontend.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0cac4ba7b.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
    </style> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <img src="/Images/FDF9C8FA-4F97-4851-BE83-DD8A3A0A629E 2.PNG" alt="QA logo" title="logo">
        <div class="nav-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact Us</a></li> 
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>     
            </ul>
        </div>
    </header>

    <section>
        <div class="card-container">
            <div class="product-1">
                <img src="/Images/pexels-la-miko-3754698.jpg" class="card-img-top" alt="Black and White Throw Pillow">
                <div class="product-card">
                    <div class="card-description">
                    <h3>'Hug Me' Throw Pillow</h3>
                        <p>Single</p>
                    </div>
                    <div class="price">
                        <h4>£45</h4>
                    </div>
                </div>
            </div>
            
            <div class="product-2">
                <img src="/Images/pexels-mikhail-nilov-6957903.jpg" class="card-img-top" alt="Blanket and Throw Pillow">
                <div class="product-card">
                    <div class="card-description">
                    <h3>'A Little Cosy' Set</h3>
                        <p>Blanket & Throw Pillow</p>
                    </div>
                    <div class="price">
                        <h4>£99</h4>
                    </div>
                </div>
            </div>

            <div class="product-3">
                <img src="/Images/pexels-karolina-grabowska-6794581.jpg" class="card-img-top" alt="Scented Candle">
                <div class="product-card">
                    <div class="card-description">
                    <h3>Chocolate Crunch Candle</h3>
                       <p>250g</p>
                    </div>
                    <div class="price">
                        <h4>£25</h4>
                    </div>
                </div>
            </div>

            <div class="product-4">
                <img src="/Images/pexels-max-rahubovskiy-6434608.jpg" class="card-img-top" alt="Wall Art">
                <div class="product-card">
                    <div class="card-description">
                    <h3>Mama Africa Wall Art</h3>
                        <p>30 x 60</p>
                    </div>
                    <div class="price">
                        <h4>£250</h4>
                    </div>
                </div>
            </div> 
            
            <div class="product-5">
                <img src="/Images/pexels-rachel-claire-6123224.jpg" class="card-img-top" alt="Coat Hanger">
                <div class="product-card">
                    <div class="card-description">
                    <h3>'Let's Hang' Coat Hanger</h3>
                        <p>10 hooks</p>
                    </div>
                    <div class="price">
                        <h4>£49.99</h4>
                    </div>
                </div>
            </div>  

            <div class="product-6">
                <img src="/Images/pexels-tatiana-syrikova-3932929.jpg" class="card-img-top" alt="Atlas">
                <div class="product-card">
                    <div class="card-description">
                    <h3>World Atlas</h3>
                        <p>Neutral</p>
                    </div>
                    <div class="price">
                        <h4>£28</h4>
                    </div>
                </div>
            </div>  
        </div>

    </section>

    <footer>
        <div class="footer-main">
            <div class="footer-row">
                <a href="#" class="footer-link">Back to Home Page</a>
            </div>
            <a href="#" class="footer-link">About Us</a><br><br>
            <a href="emailform.html" class="footer-link">Contact Us</a>
        </div>
    </footer>
    
</body>
</html>