<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/frontend.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0cac4ba7b.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
      </style> 
    <title>QA Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>

    <div class="loader"></div>

    <header>
        <img src="/Images/FDF9C8FA-4F97-4851-BE83-DD8A3A0A629E 2.PNG" alt="QA logo" title="logo">
        <div class="nav-links">
            <ul>
                <li><a href="frontend.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="productlisting.html">Shop</a></li>
                <li><a href="contact.html">Contact Us</a></li>  
                <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>    
            </ul>
        </div>
    </header>
    <div class="about-image">
        <img src="/Images/pexels-elina-sazonova-1838550.jpg" alt="Woman in decorated bedroom" title="image">
    </div>
    <section class="about-section">
        <h2>ABOUT US</h2>
        <p>Welcome to QA Home Decor, your ultimate destination for transforming your living spaces<br> into havens of beauty, comfort, and style.  With a passion for interior design and an <br> unwavering commitment to exceptional quality, we are more than just an online home decor <br> store – we are your partners in creating spaces that reflect your unique personality and <br> elevate your daily life. <br><br>

            <h3>Our Story</h3> <br>
            
            QA Home Decor was born out of a shared love for all things home and a deep appreciation <br> 
            for the impact of well-curated decor on our lives. Our journey began when a group of friends,
            <br> each with a distinct eye for design, decided to pool their expertise and bring their vision to 
            <br> life. What started as a simple idea soon evolved into a thriving online store, offering carefully 
            <br> selected pieces that celebrate diverse styles and tastes.<br><br>
            
            <h3>Our Mission</h3><br>
            
            At QA Home Decor, our mission is to inspire and empower you to reimagine your living <br>
            spaces. We believe that your home should be a reflection of your personality, a sanctuary<br> 
            where you find solace and joy. Our handpicked collection of decor items is designed to help<br> 
            you infuse your personal touch into every nook and cranny, turning ordinary spaces into<br> 
            extraordinary expressions of your individuality.<br><br>
            
            <h3>Quality Beyond Compare</h3><br>
            
            We are committed to offering nothing but the best for your home. Our team tirelessly scours<br> 
            the world to source products that meet our rigorous standards for quality, craftsmanship,<br> 
            and innovation. Every item in our store has been thoughtfully selected, ensuring that it not<br>
            only looks stunning but also stands the test of time. We believe that great design should be<br>
            paired with exceptional durability, and that's exactly what you'll find in every product we offer.<br><br>
            
            <h3>Personalized Shopping Experience</h3><br>
            
            QA Home Decor isn't just a store – it's a personalized shopping experience tailored to your<br> 
            needs. Our user-friendly website is designed to make your browsing and purchasing journey<br> 
            seamless and enjoyable. Whether you're seeking a single statement piece or planning a<br> 
            complete home makeover, our diverse range of products and curated collections provide<br> 
            you with endless inspiration and options.<br><br>
            
            <h3>Exceptional Customer Service</h3><br>
            
            We value your trust and strive to exceed your expectations. Our dedicated customer support<br> 
            team is here to assist you every step of the way, from product inquiries to order tracking and<br> 
            beyond. Your satisfaction is our top priority, and we're committed to making your shopping<br>
            experience with us a delightful one.<br><br>
            
            <h3>Join Our Haven</h3><br>
            
            We invite you to explore our ever-evolving selection and discover the possibilities that await<br> 
            you. YourHome Haven is more than just a store – it's a community of design enthusiasts,<br> 
            homemakers, and dreamers who share a common love for creating spaces that speak to the heart.<br>
            
            Thank you for choosing YourHome Haven to be a part of your home decor journey. Here's to<br> 
            transforming houses into havens, one exquisite piece at a time.<br>
            
            Warmest wishes,<br>
            
            The QA Home Decor Team</p>
    </section>

        <footer>
            <div class="footer-main">
                <div class="footer-row">
                    <a href="frontend.html" class="footer-link">Back to Home Page</a>
                </div>
                <a href="about.html" class="footer-link">About Us</a><br><br>
                <a href="contact.html" class="footer-link">Contact Us</a>
            </div>
        </footer>

        <!--LOADER SCRIPT-->
    <script>
        window.addEventListener("load", () => {
            document.querySelector(".loader").classList.add("loader--hidden");
        });
    </script>
</body>
</html>